<ion-header>
  <ion-toolbar>
    <ion-back-button icon="arrow-back-outline" slot="start" text=""></ion-back-button>
    <ion-title class="ion-text-center"> Thông tin cá nhân </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2><b>Nguyễn Hải Đăng</b></h2>
        <p>lenonguyen@gmail.com</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text color="primary">*</ion-text>
        <ion-text>Tên khách hàng</ion-text>
      </ion-label>
      <ion-label text-wrap>
        Nguyễn Hải Đăng
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>+84</ion-text>
      </ion-label>
      <ion-label text-wrap>
        123456789
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text color="primary">*</ion-text>
        <ion-text>Email</ion-text>
      </ion-label>
      <ion-label text-wrap>
        lenonguyen@gmail.com
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
