<ion-header>
  <ion-toolbar>
    <ion-back-button icon="arrow-back-outline" slot="start" text=""></ion-back-button>
    <ion-title class="ion-text-center"> Thông tin cá nhân </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="currentUser.photoUrl">
      </ion-avatar>
      <ion-label>
        <h2><b> {{currentUser.name}}</b></h2>
        <p>{{currentUser.email}}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text color="primary">*</ion-text>
        <ion-text>Tên khách hàng</ion-text>
      </ion-label>
      <ion-input value={{currentUser.name}} type="text" [(ngModel)]="currentUser.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>+84</ion-text>
      </ion-label>
      <ion-input value={{currentUser.phoneNumber}} type="tel" inputmode="numeric" [(ngModel)]="currentUser.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text color="primary">*</ion-text>
        <ion-text>Email</ion-text>
      </ion-label>
      <ion-label text-wrap>
        {{currentUser.email}}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
