.combo-title {
  font-size: 17px;
  font-weight: 600;
  color: #021329;
}

.fav-button {
  position:absolute;
  top:5px;
  right:5px;
}

img {
  width: 335px;
  height: 177px;
  border-radius: 7px 7px 0px 0px;
}

ion-searchbar {
  --background: var(--ion-color-light)
}

.book-button {
  height: 5vh;
  border-radius: 7px;
}

.border {
  font-size: 11px;
  color: #1757a8;
  margin: 4px;
  --border-radius: 7px;
  --border-color: #1757a8;
  --border-style: solid;
  --border-width: 1px;
  --padding-botton: 3px;
  --padding-top:3px;
  --padding-start:5px;
  --padding-end: 5px;
}