<ion-header>
  <ion-toolbar>
    <ion-back-button icon="arrow-back-outline" slot="start" text=""></ion-back-button>
    <ion-title class="ion-text-center"> {{ this.language }} </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="setVietnamese()"> Tiếng Việt</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="setEnglish()"> English</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
