<ion-header>
  <ion-toolbar>
    <ion-title size="medium" class="ion-text-center">{{ fav }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div *ngIf="!loadedFavCombos || loadedFavCombos.length <= 0">
      <ion-row class="non-fav">
        <ion-col size="6" offset="3">
          <ion-img src="../../assets/Illustrations/undraw_travel_mode_7sf4.svg"></ion-img>
          <ion-label class="non-fav-title">{{ noFavNotice }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-button 
            expand="block"
            color="primary"
            [routerLink]="[
              '/',
              'tabs',
              'tab1'
            ]"
          >
            {{ discover }}
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="loadedFavCombos && loadedFavCombos.length > 0">
      <ion-row *ngFor="let combo of dummyArray; index as i" style="display: flex; justify-content: center;">
        <ion-col size=4>
          <ion-card style="position: relative;">
            <img [src]="loadedFavCombos[i*2].imgUrl">
            <ion-button 
              fill="clear"
              color="light"
              class="fav-button"
              (click)="onRemoveFavCombo(loadedFavCombos[i*2].id)"
            >
              <ion-icon name="heart" color="danger"></ion-icon>
            </ion-button>
            <ion-card-header style="padding: 0;"
              [routerLink]="[
                '/',
                'tabs',
                'tab1',
                'combo-detail',
                loadedFavCombos[i*2].comboId
              ]"  
            >
              <ion-card-title> {{ loadedFavCombos[i*2].title }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size=4 *ngIf="loadedFavCombos[i*2+1]">
          <ion-card style="position: relative;">
            <img [src]="loadedFavCombos[i*2+1].imgUrl">
            <ion-button 
              fill="clear"
              color="light"
              class="fav-button"
              (click)="onRemoveFavCombo(loadedFavCombos[i*2+1].id)"
            >
              <ion-icon name="heart" color="danger"></ion-icon>
            </ion-button>
            <ion-card-header style="padding: 0;"
              [routerLink]="[
                '/',
                'tabs',
                'tab1',
                'combo-detail',
                loadedFavCombos[i*2+1].comboId
              ]"
            >
              <ion-card-title> {{ loadedFavCombos[i*2+1].title }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
