ion-content ion-toolbar {
  --background: translucent;
}

ion-card {
  border-radius: 7px;
  box-shadow: 0 1px 7px -1px rgba(2, 19, 41, 0.2);
  background-color: #ffffff;
}

ion-card-title {
    font-size: 12px;
    font-weight: 600;
    color: #021329;
}

img {
    border-radius: 7px;
}
.non-fav {
  margin-top: 25vh;
}
.fav-button {
  position:absolute;
  top:5px;
  right:5px;
}