<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="prev()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-label>{{ stepTitle }} 2/4 </ion-label>
    <ion-label>{{ infoTitle }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <p *ngIf="submitAttempt" style="color: #ea6153;">
      {{ invalidFormNotice }}
    </p>
    <ion-list>
      <form [formGroup]="slideOneForm">
        <ion-item>
          <ion-label position="floating">*{{ customerNameTitle }}</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">+84</ion-label>
          <ion-input formControlName="phoneNumber" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">*Email</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{ noteFieldTitle }}</ion-label>
          <ion-input formControlName="note" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>{{ couponFieldTitle }}</ion-label>
          <ion-toggle slot="end" (ionChange)="toogleCoupon()"></ion-toggle>       
        </ion-item>
        <ion-item *ngIf="useCoupon">
          <ion-label position="floating">{{ inputCouponTitle }}</ion-label>
          <ion-input formControlName="coupon" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{ numTicketFieldTitle }}</ion-label>
          <div slot="end">
            <ion-item lines="none">
              <ion-button 
                color="light" 
                (click)="decreaseNumTickets()"
                [disabled]="disabledButton"> 
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
              <ion-label>
                {{ numOfTickets }}
              </ion-label>
              <ion-button color="light" (click)="increaseNumTickets()">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
        </ion-item>
      </form>
    </ion-list>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="6">
          <ion-button color="primary" expand="block" (click)="onSavingCustomerInfo()">
            {{ continueButtonTitle }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>