<ion-header padding [translucent]="true">
  <ion-searchbar 
    debounce=1000
    placeholder="Bạn muốn đi đâu"
    (ionFocus)=submitSearch()>
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row >
      <ion-col offset="1">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col color="primary" offset="1">
        <ion-label color="primary" class="title">Combo voucher</ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let combo of loadedCombos">
            <ion-card>
              <img [src]="combo.imgUrl">
              <ion-button 
                fill="clear"
                color="light"
                class="fav-button"
                (click)="onAddingFavCombo(combo.id, combo.title, combo.imgUrl)"
              >
                <ion-icon name="heart-outline"></ion-icon>
              </ion-button >
              <ion-card-header 
                [routerLink]="[
                  '/',
                  'tabs',
                  'tab1',
                  'combo-detail',
                  combo.id
                ]"
              >
                <ion-card-title class="combo-title"> {{ combo.title }}</ion-card-title>
                <ion-card-subtitle>
                  <ionic5-star-rating #rating
                    activeIcon = "star"
                    defaultIcon = "star-outline"
                    activeColor = "#ffce73" 
                    defaultColor = "#cdd1d5"
                    readonly="false"
                    rating="{{combo.rate}}"
                    fontSize="13px"
                  >
                  </ionic5-star-rating>
                  {{ combo.rate }} / 5
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col color="primary" offset="1">
        <ion-label color="primary" class="title">Tin du lịch</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let article of loadedArticles">
            <ion-card 
              [routerLink]="[
                '/',
                'tabs',
                'tab1',
                'article-detail',
                article.id
              ]">
              <img [src]="article.imgUrl">
              <ion-card-header text-wrap>
                <ion-card-title class="article-title"> {{ article.title }}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
