ion-content ion-toolbar {
  --background: translucent;
}

img {
  width: 251px;
  height: 130px;
}

ion-slides {
  margin-top: 20px;
  height: 276px;
}

ion-slide {
  padding: 0 30px;
}

.slide-zoom {
  border: 1px solid white;
  height: 200px;
  // hack to keep the digit vertically centered
  line-height: 200px;
}