<ion-header>
  <ion-toolbar class="ion-color" style.background="'url(' + combo.imgUrl + ')'" >
    <ion-buttons>
      <ion-back-button icon="arrow-back-outline" slot="start" text=""></ion-back-button>
    </ion-buttons>
      <ion-img [src]="combo.imgUrl"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label color="dark"> {{ combo.title }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          <ion-icon name="time-outline"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="dark">
          <ion-icon name="pin-outline"></ion-icon>
          {{ combo.travelDest }}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="dark">
          <ion-icon name="airplane-outline"></ion-icon>
          Khởi hành từ {{ combo.startDest }}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size=6 *ngIf="combo.wifi">
        <ion-icon name="wifi-outline"></ion-icon>
        <ion-label> Wifi miễn phí </ion-label>
      </ion-col>
      <ion-col size=6>
        <ion-icon name="bed-outline"></ion-icon>
        <ion-label> Khách sạn {{ combo.hotelRating }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size=6 *ngIf="combo.breakfast">
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label> Bữa sáng buffet </ion-label>
      </ion-col>
      <ion-col size=6 *ngIf="combo.taxi">
        <ion-icon name="bus-outline"></ion-icon>
        <ion-label> Xe đưa đón </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label color="dark"> Giới thiệu </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark"> 
          <h3 class="combo-description">
            {{ combo.description }} 
          </h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label color="dark"> Bao gồm và điều khoản </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-label color="primary">{{ combo.price }}đ</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" expand="block" (click)="onBookCombo()"> 
            Đặt 
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>