<ion-header>
  <ion-item>
    <ion-avatar slot="start">
      <img [src]="currentUser.photoUrl">
    </ion-avatar>
    <ion-label>
      <h2><b> {{currentUser.name}}</b></h2>
      <p>{{currentUser.email}}</p>
    </ion-label>
  </ion-item>
</ion-header>
  
<ion-content>
  <ion-list>
    <ion-item 
      button
      [routerLink]="[
        '/',
        'account',
        'account-info'
      ]"
      detail="false"
    >
      <ion-icon name="person-outline" slot="end"></ion-icon>
      <ion-label>
        Thông tin cá nhân
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="wallet-outline" slot="end"></ion-icon>
      <ion-label>
        Thanh toán
      </ion-label>
    </ion-item>
    <ion-item
      button
      [routerLink]="[
        '/',
        'account',
        'language'
      ]"
      detail="false"
    >
      <ion-icon name="globe-outline" slot="end"></ion-icon>
      <ion-label>
        Ngôn ngữ
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="end"></ion-icon>
      <ion-label>
        Hỗ trợ
      </ion-label>
    </ion-item>
    <ion-item
      button
      (click)="onLogout()"
      detail="false"
    >
      <ion-icon color="warning" name="exit-outline" slot="end"></ion-icon>
      <ion-label >
        Đăng xuất
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center"> 
        Phiên bản 3.03
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
